/******************************/
/******* Joomla Default *******/
/******************************/
body { margin: 0px; font-family: Arial; font-size: 16px; line-height: 1.6; }
p { margin: 15px 0px; }
img { border: none; padding: 0; margin: 0; }
.clearfix { clear: both; }
.normal h1, .normal h2, .normal h3, .normal h4, .normal h5 { font-weight: normal; }
h1, h2, h3, h4, h5 { margin: 0px;}
h1 { font-size: 26px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
input, select, button, .btn, textarea { font-family: Arial; font-size: 17px; }
@media screen and (min-width:480px){
body { font-size: 15px; }
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
input, select, button, .btn, textarea { font-size: 16px; }
}
@media screen and (min-width:768px){
body { font-size: 14px; }
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 20px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
input, select, button, .btn, textarea { font-size: 15px; }
}
@media screen and (min-width:1240px){
body { font-size: 17px; line-height: 1.9; }
h1 { font-size: 27px; }
h2 { font-size: 25px; }
h3 { font-size: 23px; }
h4 { font-size: 21px; }
h5 { font-size: 19px; }
input, select, button, .btn, textarea { font-size: 18px; }
}
/******************************/
/********* Joomla UL **********/
/******************************/
ul.menu, ul.menu ul, ul.menu ul ul, .pagination ul, ul.category, #login-form ul, ul.dropdown-menu, ul.breadcrumb, ul.pagenav, .login ul, ul.search-results, ul.categories-module, ul.categories-module ul, ul.category-module, ul.category-module ul, ul.archive-module, ul.mostread, ul.latestusers, ul.latestnews, ul.newsfeed, ul.relateditems, ul.nav-stacked, .pager ul, .profile ul { list-style: none; padding: 0; margin: 0; }
/******************************/
/****** Joomla Templates ******/
/******************************/
#header { clear: both; background: url(../images/blue.gif); }
#banner { float: left; width: 100%; clear: both; }
#footer { float: left; width: 100%; padding: 15px 0px 0px 0px; clear: both; background: url(../images/blue.gif); border-bottom: 1px solid #006c95; }
#copyright-outer { padding: 10px 0px; clear: both; background: url(../images/blue.gif); }
@media screen and (min-width:480px){
#header { height: 100px; }
}
@media screen and (min-width:768px){
#header { height: 80px; padding: 10px 0px; }
#copyright-outer { height: 50px; min-width: 990px; }
#header, #banner, #footer { min-width: 990px; }
}
@media screen and (min-width:1240px){
#advert { padding: 20px 0px 0px 0px; }
#footer { padding: 20px 0px 0px 0px; }
#wide { padding: 0px 0px 20px 0px; }
}
/******************************/
/****** Joomla Templates ******/
/******************************/
#container { padding: 0px 15px; }
@media screen and (min-width:768px){
#header-inner, #container { width: 970px; margin: 0 auto; padding: 0px 10px; }
}
@media screen and (min-width:1240px){
#header-inner, #container { width: 1200px; }
}
/******************************/
/****** Joomla Templates ******/
/******************************/
div#logo { max-width: 300px; margin: 0 auto; padding: 0px 15px; }
.logo { width: 100%; }
#copyright, #designer { text-align: center; color: #FFFFFF; }
#designer a { color: #FFFFFF; text-decoration: none; }
#spacer { height: 25px; clear: both; }
@media screen and (min-width:480px){
div#logo { float: left; max-width: none; padding: 10px 0px 10px 15px; }
.logo { width: auto; height: 80px; }
}
@media screen and (min-width:768px){
div#logo { padding: 0px; }
#copyright { float: left; margin: 16px 0px 0px 0px; }
#designer { float: right; margin: 16px 0px 0px 0px; }
}
@media screen and (min-width:1240px){
#copyright { margin: 10px 0px 0px 0px; }
#designer { margin: 10px 0px 0px 0px; }
}
/******************************/
/****** Joomla Templates ******/
/******************************/
#body-right-only, #body-left-only, #body-left-right, #right-right-only, #left-left-only, #left-left-right, #right-left-right { clear: both; }
@media screen and (min-width:768px){
#body-right-only { float: left; width: 650px; clear: none; }
#body-left-only { float: right; width: 650px; clear: none; }
#body-left-right { float: left; width: 530px; clear: none; margin: 0px 0px 0px 20px; }
#right-right-only { float: right; width: 300px; clear: none; }
#left-left-only { float: left; width: 300px; clear: none; }
#left-left-right { float: left; width: 200px; clear: none; }
#right-left-right { float: right; width: 200px; clear: none; }
}
@media screen and (min-width:1240px){
#body-right-only { float: left; width: 834px; }
#body-left-only { float: right; width: 834px; }
#body-left-right { float: left; width: 640px; margin: 0px 0px 0px 30px; }
#right-right-only { float: right; width: 336px; }
#left-left-only { float: left; width: 336px; }
#left-left-right { float: left; width: 250px; }
#right-left-right { float: right; width: 250px; }
}
/******************************/
/******* Joomla Tooltip *******/
/******************************/
.tooltip { position: absolute; z-index: 1030; display: block; font-size: 12px; line-height: 1.4; opacity: 0; filter: alpha(opacity=0); visibility: visible; }
.tooltip.in { opacity: .8; filter: alpha(opacity=80); }
.tooltip.top { padding: 5px 0; margin-top: -3px; }
.tooltip-inner { max-width: 200px; padding: 8px; color: #fff; text-align: center; text-decoration: none; background-color: #000; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-color: #000; border-width: 5px 5px 0; }
/******************************/
/******* Joomla Popover *******/
/******************************/
.popover { position: absolute; top: 0; left: 0; z-index: 1060; display: none; max-width: 276px; padding: 1px; text-align: left; background: #FFFFFF; -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box; border: 1px solid #dedede; border: 1px solid rgba(0,0,0,0.2); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2); box-shadow: 0 5px 10px rgba(0,0,0,0.2); white-space: normal; }
.popover.top { margin: -10px 0px 0px 0px; }
.popover.right { margin: 0px 0px 0px 10px; }
.popover.bottom { margin: 10px 0px 0px 0px; }
.popover.left { margin: 0px 0px 0px -10px; }
.popover-title { margin: 0; padding: 5px 15px; font-size: 16px; font-weight: normal; line-height: 18px; background: #f7f7f7; border-bottom: 1px solid #ebebeb; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.popover-content { padding: 12px 15px; }
.popover .arrow, .popover .arrow:after { position: absolute; display: block; width: 0; height: 0; border-color: transparent; border-style: solid; }
.popover .arrow { border-width: 11px; }
.popover .arrow:after { border-width: 10px; content: ""; }
.popover.right .arrow { top: 50%; left: -11px; margin: -11px 0px 0px 0px; border-left-width: 0; border-right-color: #999; border-right-color: rgba(0,0,0,0.25); }
.popover.right .arrow:after { left: 1px; bottom: -10px; border-left-width: 0; border-right-color: #fff; }
/******************************/
/******** Joomla Alert ********/
/******************************/
.alert { color: #000000; padding: 10px; margin: 0px 0px 15px 0px; border: 1px solid #dedede; }
.alert button.close { color: #000000; cursor: pointer; float: right; display: block; background: none; border: none; }
.alert a.close { color: #000000; cursor: pointer; float: right; display: block; }
#system-message p { margin: 0px; }
/******************************/
/******* Joomla Header ********/
/******************************/
.page-header h1, .item-page .page-header h2, .contact h1 { padding: 0px 0px 5px 0px; margin: 0px 0px 15px 0px; border-bottom: 1px solid #dedede; }
h3.page-header { padding: 0px 0px 5px 0px; margin: 0px 0px 10px 0px; }
.advert h3.page-header { border-bottom: 1px solid #c0c0c0; }
.columns h3.page-header, .upper h3.page-header, .user h3.page-header, .inside h3.page-header, .bottom h3.page-header { border-bottom: 1px solid #dedede; }
.footer h3.page-header { border-bottom: 1px solid #006c95; }
.item-page .page-header h2 a, .blog-featured h2.item-title a, .blog .page-header h2 a { color: #000000; text-decoration: none; }
@media screen and (min-width:768px){
.page-header h1, .item-page .page-header h2, .contact h1 { font-size: 20px; }
.blog-featured h2.item-title, .blog .page-header h2, .contact h2 { font-size: 18px; }
}
@media screen and (min-width:1240px){
.page-header h1, .item-page .page-header h2, .contact h1 { font-size: 23px; margin: 0px 0px 15px 0px; }
.blog-featured h2.item-title, .blog .page-header h2, .contact h2 { font-size: 21px; }
h3.page-header { margin: 0px 0px 15px 0px; }
}
/******************************/
/******* Joomla Article *******/
/******************************/
.dropdown-menu li { display: inline; margin-right: 10px; }
.dropdown-menu li a { color: #000000; text-decoration: none; }
dl.article-info dd { padding: 0; margin: 0; }
.pager ul { text-align: center; margin: 0px 0px 15px 0px; }
.pager ul li { position: relative; display: inline-block; margin: 0px 15px 0px 15px; }
p.readmore { margin: 0px; }
p.readmore a { color: #FFFFFF; text-decoration: none; padding: 5px 10px; background: url(../images/blue.gif); border: 1px solid #006c95; }
.category-name a, #archive-items a, ul.nav-stacked a, .pager ul a { color: #000000; text-decoration: none; }
.archive #adminForm fieldset { padding: 0px; border: none; }
.archive select.inputbox { width: 94%; }
@media screen and (min-width:480px){
.archive select.inputbox { width: 75px; }
.item-page ul.nav-stacked li { position: relative; display: inline-block; margin: 0px 15px 0px 0px; }
}
@media screen and (min-width:768px){
.item-page .article-info-term, .item-page dl.article-info dd, .items-leading .article-info-term, .items-leading dl.article-info dd, .cols-1 .article-info-term, .cols-1 dl.article-info dd { display: inline; padding: 0px 15px 0px 0px; }
p.readmore { text-align: right; }
.items-row { clear: both; }
}
/******************************/
/****** Joomla Pagination *****/
/******************************/
.pagination { text-align: center; float: left; width: 100%; margin: 0px 0px 15px 0px; }
.pagination li { display: inline; }
li.pagination-page { display: none; }
.pagination .pagenav { color: #FFFFFF; text-decoration: none; padding: 5px 10px; margin: 0px 2px; background: url(../images/blue.gif); border: 1px solid #006c95; }
ul.pagenav .previous { float: left; margin: 0px 0px 15px 0px; }
ul.pagenav .next { float: right; margin: 0px 0px 15px 0px; }
ul.pagenav .previous a, ul.pagenav .next a { color: #000000; text-decoration: none; }
p.counter { margin: 0px 0px 15px 0px; }
@media screen and (min-width:768px){
li.pagination-page { display: inline; }
}
@media screen and (min-width:1240px){
.pagination { margin: 0px 0px 20px 0px; }
ul.pagenav .previous { margin: 0px 0px 20px 0px; }
ul.pagenav .next { margin: 0px 0px 20px 0px; }
}
/******************************/
/****** Joomla Breadcrumb *****/
/******************************/
.breadcrumb li { text-align: center; }
.breadcrumb a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.breadcrumb li { float: left; padding: 0px 10px 15px 0px; }
.breadcrumb li .divider { padding: 0px 0px 0px 10px; }
}
/******************************/
/**** Joomla Category List ****/
/******************************/
.category-list fieldset { padding: 0px; border: none; }
.category-list .btn-group { text-align: center; margin: 0px 0px 10px 0px; }
.category-list .inputbox { width: 200px; padding: 5px; border: 1px solid #c0c0c0; }
.category-list table { width: 100%; text-align: center; margin: 0px 0px 15px 0px; }
.category-list table td, .category-list table th { padding: 5px; border: 1px solid #dedede; }
.category-list .pagination .pull-right { float: none; }
.category-list a { color: #000000; text-decoration: none; }
@media screen and (min-width:768px){
.category-list #adminForm .btn-toolbar .btn-group { float: left; }
.category-list #adminForm .btn-toolbar .btn-group.pull-right { float: right; }
}
/******************************/
/******** Joomla Login ********/
/******************************/
#login-form .control-group { margin: 0px 0px 10px 0px; }
#login-form .element-invisible { display: block; margin: 0px 0px 5px 0px; }
#login-form .input-small { padding: 5px; width: 94%; border: 1px solid #c0c0c0; }
#login-form a { color: #000000; text-decoration: none; }
.login { text-align: center; }
.login fieldset { border: none; padding: 0px; margin: 0px; }
.login .control-label { margin: 0px 0px 5px 0px; }
.login .controls { margin: 0px 0px 10px 0px; }
.login .control-group { margin: 0px 0px 10px 0px; }
.login ul { margin: 0px 0px 15px 0px; }
.login input.required { padding: 8px; width: 94%; border: 1px solid #c0c0c0; }
.login a { color: #000000; text-decoration: none; }
.logout form { text-align: center; margin: 0px 0px 20px 0px; }
#member-registration { text-align: center; margin: 0px 0px 15px 0px; }
#member-registration fieldset { border: none; padding: 0px; margin: 0px 0px 15px 0px; }
#member-registration legend { font-size: 20px; width: 100%; margin: 0px 0px 15px 0px; }
#member-registration .control-label { margin: 0px 0px 5px 0px; }
#member-registration .controls { margin: 0px 0px 10px 0px; }
#member-registration input.required { padding: 5px; width: 94%; border: 1px solid #c0c0c0; }
#user-registration { margin: 0px 0px 15px 0px; }
#user-registration fieldset { margin: 0px 0px 10px 0px; border: 1px solid #c0c0c0; }
#user-registration input.required { width: 94%; padding: 5px; border: 1px solid #c0c0c0; }
.reset-confirm { margin: 0px 0px 20px 0px; }
.reset-confirm fieldset { margin: 0px 0px 10px 0px; border: 1px solid #c0c0c0; }
.reset-confirm input.required { width: 94%; padding: 5px; border: 1px solid #c0c0c0; }
.profile, .profile-edit { margin: 0px 0px 15px 0px; }
.profile fieldset { margin: 10px 0px 0px 0px; }
.profile-edit fieldset { margin: 0px 0px 10px 0px; }
.profile-edit input.required, .profile-edit input#jform_username, .profile-edit input#jform_password1, .profile-edit input#jform_password2 { width: 240px; padding: 5px; border: 1px solid #c0c0c0; }
.profile-edit select { width: 240px; padding: 5px; border: 1px solid #c0c0c0; }
@media screen\9 {
#member-registration legend { text-align: center; }
}
@media screen and (min-width:480px){
.profile .dl-horizontal dt { float: left; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 2; }
.profile .dl-horizontal dd { margin: 0px 0px 0px 190px; line-height: 2; }
}
@media screen and (min-width:768px){
.login input.required { width: 250px; }
#member-registration input.required { width: 250px; }
#user-registration input.required { width: 250px; }
.reset-confirm input.required { width: 250px; }
}
@media screen and (min-width:1240px){
.login ul { margin: 0px 0px 20px 0px; }
#member-registration { margin: 0px 0px 20px 0px; }
#user-registration { margin: 0px 0px 20px 0px; }
.profile .dl-horizontal dd { margin: 0px 0px 0px 250px; }
.login input.required { width: 350px; }
#member-registration input.required { width: 350px; }
#user-registration input.required { width: 350px; }
.reset-confirm input.required { width: 350px; }
}
/******************************/
/******* Joomla Search ********/
/******************************/
#searchForm { color: #000000; text-align: center; margin: 0px 0px 20px 0px; }
#searchForm fieldset { padding: 10px; border: 1px solid #c0c0c0; }
.search .inputbox, #mod-finder-searchform #mod-finder-searchword { width: 94%; padding: 5px; border: 1px solid #c0c0c0; }
.search .form-limit { margin: 10px 0px; }
.result-created, .result-category, .result-text { padding: 0; margin: 0; }
.search-results { margin: 0px 0px 10px 0px; }
#searchForm .phrases-box { margin: 0px 0px 10px 0px; }
.search-results a { color: #000000; text-decoration: none; }
#finder-search { text-align: center; margin: 0px 0px 20px 0px; }
#finder-search fieldset { padding: 10px; border: 1px solid #c0c0c0; }
.finder-selects { float: left; width: 100%; margin: 0px 0px 10px 0px; }
#finder-search input.inputbox { padding: 5px; width: 94%; border: 1px solid #c0c0c0; }
#finder-search select.inputbox { padding: 5px; width: 250px; border: 1px solid #c0c0c0; }
#search-query-explained { text-align: center; }
.search-results li { margin: 0px 0px 15px 0px; }
.search-pages-counter { text-align: center; width: 100%; padding: 15px 0px; }
@media screen and (min-width:480px){
.search .inputbox, #mod-finder-searchform #mod-finder-searchword { width: auto; }
}
@media screen and (min-width:768px){
#finder-search input.inputbox { width: 250px; }
}
/******************************/
/******* Joomla Contact *******/
/******************************/
.contact h2 { margin: 0px 0px 15px 0px; }
.contact h3 { color: #FFFFFF; padding: 3px 10px; margin: 0px 0px 15px 0px; background: url(../images/blue.gif); border: 1px solid #006c95; }
.contact .control-label { margin: 0px 0px 5px 0px; }
.contact .controls { margin: 0px 0px 10px 0px; }
.contact .contact-form input.required, .contact .contact-form textarea.required { padding: 5px; width: 94%; border: 1px solid #c0c0c0; }
.contact-emailto a, .contact-webpage a { color: #000000; text-decoration: none; }
.contact fieldset { padding: 10px; margin: 0px 0px 15px 0px; border: 1px solid #c0c0c0; }
.contact .accordion { margin: 0px 0px 20px 0px; }
.contact .accordion fieldset { border: none; padding: 0px; margin: 0px; }
.contact a.accordion-toggle { color: #FFFFFF; text-decoration: none; display: block; padding: 5px 10px; background: url(../images/blue.gif); border: 1px solid #006c95; }
.contact .accordion-inner { padding: 10px; border: 1px solid #dedede; }
.contact .accordion #contact-form legend { display: block; margin: 0px 0px 10px 0px; }
.contact ul { padding: 0; margin: 0 0 15px 0px; }
.contact .dl-horizontal dt { float: left; clear: left; text-align: right; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 2; }
.contact .dl-horizontal dd { margin: 0px 0px 0px 50px; line-height: 2; }
.contact .nav-tabs { margin: 0px 0px 15px 0px; list-style: none; border-bottom: 1px solid #dedede; }
.contact .nav-tabs > li > a { display: block; }
.contact .nav-tabs:before, .contact .nav-tabs:after { display: table; content: ""; line-height: 0; }
.contact .nav-tabs:after { clear: both; }
.contact .nav-tabs > li { float: left; }
.contact .nav-tabs > li { margin-bottom: -1px; }
.contact .nav-tabs > li > a { padding: 8px 0px; line-height: 18px; margin: 0px 2px 0px 0px; border: 1px solid transparent; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.contact .nav-tabs > .active > a, .contact .nav-tabs > .active > a:hover, .contact .nav-tabs > .active > a:focus { color: #000000; background: #FFFFFF; border: 1px solid #dedede; border-bottom-color: transparent; cursor: default; }
.contact .nav-tabs li a { color: #000000; text-decoration: none; display: block; padding: 10px 15px; }
.contact .tab-content > .tab-pane { display: none; }
.contact .tab-content > .active { display: block; }
.contact-category h2 { margin: 0px 0px 10px 0px; }
.contact-category fieldset { border: none; padding: 0px; }
.contact-category #filter-search { border: 1px solid #c0c0c0; padding: 5px; }
.contact-category #limit { width: 150px; padding: 5px; border: 1px solid #c0c0c0; }
.contact-category .btn-group { margin: 0px 0px 15px 0px; }
.contact-category ul { padding: 0; margin: 0 0 9px 0px; }
.contact-category .list-title a { color: #000000; text-decoration: none; }
.contact-category label { display: none; }
.contact-category .category { border-top: 1px solid #dedede; }
.contact-category .category li { padding: 8px; border-bottom: 1px solid #dedede; }
.featured-contact fieldset { border: none; padding: 0px; }
.featured-contact .display-limit { padding: 0px 0px 15px 0px; }
.featured-contact .display-limit .inputbox { width: 150px; padding: 5px; border: 1px solid #c0c0c0; }
.featured-contact table { margin: 0px 0px 20px 0px; }
.featured-contact table.category { width: 100%; text-align: left; }
.featured-contact table.category th { padding: 0px 0px 10px 0px; border-bottom: 1px solid #dedede; }
.featured-contact table.category td { padding: 30px 0px; border-bottom: 1px solid #dedede; }
.featured-contact .hidelabeltxt { display: none; }
.featured-contact table.category a { color: #000000; text-decoration: none; }
@media screen and (min-width:480px){
.contact-category .btn-group { float: left; }
.contact-category .btn-group.pull-right { float: right; }
}
@media screen and (min-width:768px){
.contact .contact-form input.required { width: 250px; }
.contact-form textarea.required { height: 250px; }
}
@media screen and (min-width:1240px){
.contact fieldset { margin: 0px 0px 20px 0px; }
.contact .contact-form input.required { width: 350px; }
.contact-form textarea.required { height: 300px; }
}
/******************************/
/******* Joomla Editor ********/
/******************************/
.edit #adminForm .nav-tabs a { color: #000000; text-decoration: none; }
.edit #adminForm .nav-tabs { list-style: none; padding: 0; margin: 0px 0px 10px 0px; border-bottom: 1px solid #dedede; }
.edit #adminForm fieldset { padding: 0px; border: none; }
.edit #adminForm .nav-tabs:before, .edit #adminForm .nav-tabs:after { display: table; content: ""; line-height: 0; }
.edit #adminForm .nav-tabs:after { clear: both; }
.edit #adminForm .nav-tabs > li { float: left; margin: 0px 0px -1px 0px; }
.edit #adminForm .nav-tabs > li > a { display: block; padding: 8px 12px; margin: 0px 2px 0px 0px; line-height: 18px; border: 1px solid transparent; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.edit #adminForm .nav-tabs > li > a:hover, .edit #adminForm .nav-tabs > li > a:focus { border-color: #dedede #dedede #dedede; }
.edit #adminForm .nav-tabs > .active > a, .edit #adminForm .nav-tabs > .active > a:hover, .edit #adminForm .nav-tabs > .active > a:focus { color: #000000; background: #FFFFFF; border: 1px solid #dedede; border-bottom-color: transparent; cursor: default; }
.edit #adminForm .tab-content > .tab-pane { display: none; }
.edit #adminForm .tab-content > .active { display: block; }
.edit #adminForm .btn-toolbar .btn-group { display: inline-block; }
.edit #adminForm .btn-toolbar button.btn { margin: 0px 2px 10px 2px; }
@font-face { font-family: 'IcoMoon'; src: url('../../../media/jui/fonts/IcoMoon.eot'); src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg'); font-weight: normal; font-style: normal; }
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: 'IcoMoon'; font-style: normal; speak: none; }
.edit #adminForm .tab-pane { float: left; width: 100%; }
.edit #adminForm .control-group .inputbox { border: 1px solid #c0c0c0; padding: 3px; width: 250px; }
.edit #adminForm .control-label { margin: 10px 0px 5px 0px; }
.icon-calendar:before { content: "\43"; }
.icon-calendar-2:before { content: "\44"; }
.icon-calendar-3:before { content: "\e273"; }
.edit #adminForm .editor { margin: 10px 0px 0px 0px; }
.edit #adminForm fieldset { margin: 0px 0px 15px 0px; }
@media screen and (min-width:480px){
.edit #adminForm .btn-toolbar a.btn { margin: 0px 2px; display: inline; }
.edit #adminForm .pull-left { float: left; padding: 10px 0px 0px 0px; }
.edit #adminForm .pull-right { float: right; padding: 10px 0px 0px 0px; }
}
/******************************/
/******* Joomla Button ********/
/******************************/
input.button, button, input.btn { color: #FFFFFF; padding: 4px 10px; background: url(../images/blue.gif); border: 1px solid #006c95; }
#finder-search a.btn, #member-registration a.btn, .profile a.btn, .edit #adminForm .btn-toolbar a.btn { color: #FFFFFF; text-decoration: none; padding: 5px 10px; background: url(../images/blue.gif); border: 1px solid #006c95; }
.profile-edit a.btn { color: #FFFFFF; text-decoration: none; line-height: 1.6; padding: 5px 10px 4px 10px; background: url(../images/blue.gif); border: 1px solid #006c95; }
@media screen and (-webkit-min-device-pixel-ratio:0) {
input.button, button, input.btn { padding: 5px 10px; }
#finder-search a.btn, #member-registration a.btn, .profile-edit a.btn { padding: 5px 10px 6px 10px; }
}
@media screen\9 {
input.button, button, input.btn { line-height: 1.6; padding: 1px 10px; }
}
/******************************/
/******* Joomla Config ********/
/******************************/
.footer { color: #FFFFFF; }
.moduletable { padding: 0px 0px 15px 0px; }
ul.newsfeed li { margin: 10px 0px 0px 0px; }
.mod-articles-category-readmore { margin: 0px; }
.columns .menu a, .columns .nav-header, .columns .separator { color: #FFFFFF; text-decoration: none; display: block; padding: 3px 10px; margin: 2px 0px; background: url(../images/blue.gif); border: 1px solid #006c95; }
.advert .menu a, .advert .menu .nav-header, .advert .menu .separator { color: #000000; text-decoration: none; display: block; padding: 4px 0px; border-bottom: 1px solid #c0c0c0; }
.upper .menu a, .upper .menu .nav-header, .upper .menu .separator, .user .menu a, .user .menu .nav-header, .user .menu .separator, .inside .menu a, .inside .menu .nav-header, .inside .menu .separator, .bottom .menu a, .bottom .menu .nav-header, .bottom .menu .separator { color: #000000; text-decoration: none; display: block; padding: 4px 0px; border-bottom: 1px solid #dedede; }
.footer .menu a, .footer .menu .nav-header, .footer .menu .separator { color: #FFFFFF; text-decoration: none; display: block; padding: 4px 0px; border-bottom: 1px solid #006c95; }
ul.categories-module li, ul.category-module li, ul.archive-module a, ul.mostread a, ul.latestnews a, ul.latestusers li, ul.relateditems li { display: block; padding: 4px 0px; }
.advert ul.categories-module li, .advert ul.category-module li, .advert ul.archive-module a, .advert ul.mostread a, .advert ul.latestnews a, .advert ul.latestusers li, .advert ul.relateditems li { border-bottom: 1px solid #c0c0c0; }
.columns ul.categories-module li, .columns ul.category-module li, .columns ul.archive-module a, .columns ul.mostread a, .columns ul.latestnews a, .columns ul.latestusers li, .columns ul.relateditems li, .upper ul.categories-module li, .upper ul.category-module li, .upper ul.archive-module a, .upper ul.mostread a, .upper ul.latestnews a, .upper ul.latestusers li, .upper ul.relateditems li, .user ul.categories-module li, .user ul.category-module li, .user ul.archive-module a, .user ul.mostread a, .user ul.latestnews a, .user ul.latestusers li, .user ul.relateditems li, .inside ul.categories-module li, .inside ul.category-module li, .inside ul.archive-module a, .inside ul.mostread a, .inside ul.latestnews a, .inside ul.latestinsides li, .inside ul.relateditems li, .bottom ul.categories-module li, .bottom ul.category-module li, .bottom ul.archive-module a, .bottom ul.mostread a, .bottom ul.latestnews a, .bottom ul.latestbottoms li, .bottom ul.relateditems li { border-bottom: 1px solid #dedede; }
.footer ul.categories-module li, .footer ul.category-module li, .footer ul.archive-module a, .footer ul.mostread a, .footer ul.latestnews a, .footer ul.latestusers li, .footer ul.relateditems li { border-bottom: 1px solid #006c95; }
ul.categories-module ul li, ul.category-module ul li { margin: 4px 0px -4px 0px; }
.advert ul.categories-module ul li, .advert ul.category-module ul li { border-top: 1px solid #c0c0c0; border-bottom: none; }
.columns ul.categories-module ul li, .columns ul.category-module ul li, .upper ul.categories-module ul li, .upper ul.category-module ul li, .user ul.categories-module ul li, .user ul.category-module ul li, .inside ul.categories-module ul li, .inside ul.category-module ul li, .bottom ul.categories-module ul li, .bottom ul.category-module ul li { border-top: 1px solid #dedede; border-bottom: none; }
.footer ul.categories-module ul li, .footer ul.category-module ul li { border-top: 1px solid #006c95; border-bottom: none; }
.advert ul.categories-module a, .advert ul.category-module a, .advert ul.archive-module a, .advert ul.mostread a, .advert ul.latestnews a, .advert ul.relateditems a, .advert .feed a, .columns ul.categories-module a, .columns ul.category-module a, .columns ul.archive-module a, .columns ul.mostread a, .columns ul.latestnews a, .columns ul.relateditems a, .columns .feed a, .advert ul.categories-module a, .advert ul.category-module a, .advert ul.archive-module a, .advert ul.mostread a, .advert ul.latestnews a, .advert ul.relateditems a, .advert .feed a, .upper ul.categories-module a, .upper ul.category-module a, .upper ul.archive-module a, .upper ul.mostread a, .upper ul.latestnews a, .upper ul.relateditems a, .upper .feed a, .user ul.categories-module a, .user ul.category-module a, .user ul.archive-module a, .user ul.mostread a, .user ul.latestnews a, .user ul.relateditems a, .user .feed a, .inside ul.categories-module a, .inside ul.category-module a, .inside ul.archive-module a, .inside ul.mostread a, .inside ul.latestnews a, .inside ul.relateditems a, .inside .feed a, .bottom ul.categories-module a, .bottom ul.category-module a, .bottom ul.archive-module a, .bottom ul.mostread a, .bottom ul.latestnews a, .bottom ul.relateditems a, .bottom .feed a { color: #000000; text-decoration: none; }
.footer ul.categories-module a, .footer ul.category-module a, .footer ul.archive-module a, .footer ul.mostread a, .footer ul.latestnews a, .footer ul.relateditems a, .footer .feed a { color: #FFFFFF; text-decoration: none; }
.columns ul.newsfeed a, .advert ul.newsfeed a, .upper ul.newsfeed a, .user ul.newsfeed a, .inside ul.newsfeed a, .bottom ul.newsfeed a, .footer ul.newsfeed a { text-decoration: underline; }
.newsflash-title { margin: 15px 0px; }
.columns .newsflash-title a, .advert .newsflash-title a, .upper .newsflash-title a, .user .newsflash-title a, .inside .newsflash-title a, .bottom .newsflash-title a { color: #000000; text-decoration: none; }
.footer .newsflash-title a { color: #FFFFFF; text-decoration: none; }
.columns a.readmore, .advert a.readmore, .upper a.readmore, .user a.readmore, .inside a.readmore, .bottom a.readmore { color: #000000; text-decoration: none; }
.footer a.readmore { color: #FFFFFF; text-decoration: none; }
.categories-module h4, .categories-module h5  { font-size: 16px; font-weight: normal; }
@media screen and (min-width:480px){
.categories-module h4, .categories-module h5 { font-size: 15px; }
}
@media screen and (min-width:768px){
.categories-module h4, .categories-module h5 { font-size: 14px; }
}
@media screen and (min-width:1240px){
.moduletable { padding: 0px 0px 20px 0px; }
.columns .menu a, .columns .nav-header, .columns .separator { margin: 3px 0px; }
.advert .menu a, .advert .menu .nav-header, .advert .menu .separator, .upper .menu a, .upper .menu .nav-header, .upper .menu .separator, .user .menu a, .user .menu .nav-header, .user .menu .separator, .inside .menu a, .inside .menu .nav-header, .inside .menu .separator, .bottom .menu a, .bottom .menu .nav-header, .bottom .menu .separator, .footer .menu a, .footer .menu .nav-header, .footer .menu .separator { padding: 5px 0px; }
ul.categories-module li, ul.category-module li, ul.archive-module a, ul.mostread a, ul.latestnews a, ul.latestusers li, ul.relateditems li { padding: 5px 0px; }
ul.categories-module ul li, ul.category-module ul li { margin: 5px 0px -5px 0px; }
.categories-module h4, .categories-module h5 { font-size: 17px; }
}
/******************************/
/******* Joomla Toolbar *******/
/******************************/
#navigation { height: 34px; padding: 5px 0px; background: url(../images/blue.gif); border-top: 1px solid #006c95; }
.navigation { float: left; margin: 5px 0px 0px 15px; color: #FFFFFF; font-weight: bold; }
#toolbar { clear: both; margin: 39px 0px 0px 0px; width: 100%; position: relative; z-index: 5; background: url(../images/blue.gif); border-bottom: 1px solid #006c95; }
#toolbar .menu a, #toolbar .menu .nav-header, #toolbar .menu .separator { color: #FFFFFF; text-decoration: none; cursor: pointer; font-size: 16px; display: block; padding: 3px 15px; border-top: 1px solid #006c95; }
@media screen and (min-width:480px){
#navigation { height: auto; padding: 0px; background: none; border-top: none; }
.navigation { display: none; }
#toolbar { margin: 0px 0px 15px 0px; }
}
@media screen and (min-width:768px){
#navigation { float: right; margin: 23px 0px 0px 0px; }
#toolbar { clear: none; margin: 0px; width: auto; z-index: auto; background: none; border-bottom: none; }
#toolbar .menu a, #toolbar .menu .nav-header, #toolbar .menu .separator { padding: 0px; font-size: 15px; border-top: none; }
#toolbar .menu li { float: left; position: relative; line-height: 2.5; margin: 0px 0px 0px 25px; }
#toolbar .menu li li a, #toolbar .menu li li .nav-header, #toolbar .menu li li .separator { font-size: 14px; }
#toolbar .menu ul { left: -999em; position: absolute; z-index: 99; width: 180px; padding: 5px 0px 10px 0px; border-radius: 0px 0px 7px 7px; background: url(../images/blue.gif); border-bottom: 1px solid #006c95; border-right: 1px solid #006c95; border-left: 1px solid #006c95; }
#toolbar .menu ul li { width: 160px; padding: 2px 10px; line-height: 1.8; background-color: none; position:relative;  margin-left: 0px; }
#toolbar li:hover ul { left: -10px; }
#toolbar ul.menu li.active li a { background: none !important; }
#toolbar .menu ul ul { margin: -1.8em 0 0 11.0em; position: absolute; z-index: 99; padding: 5px 0px; border-radius: 7px; border-top: 1px solid #006c95; }
#toolbar ul.menu li:hover ul ul { left: -999em; }
#toolbar ul.menu li li:hover ul { left: auto; }
}
@media screen and (min-width:1240px){
#navigation { margin: 20px 0px 0px 0px; }
#toolbar .menu a, #toolbar .menu .nav-header, #toolbar .menu .separator { font-size: 18px; }
#toolbar .menu li { margin: 0px 0px 0px 42px; }
#toolbar .menu li li a, #toolbar .menu li li .nav-header, #toolbar .menu li li .separator { font-size: 17px; }
#toolbar .menu ul { width: 225px; }
#toolbar .menu ul li { width: 195px; padding: 2px 15px; }
#toolbar .menu li li li a { font-size: 17px; }
#toolbar li:hover ul { left: -15px; }
#toolbar .menu ul ul { margin: -1.8em 0 0 11.4em; }
}
/******************************/
/******** Joomla Blog *********/
/******************************/
@media screen and (min-width:768px){
#body-right-only .cols-4 .column-1, #body-left-only .cols-4 .column-1 { width: 152px; float: left; }
#body-right-only .cols-4 .column-2, #body-left-only .cols-4 .column-2 { width: 152px; float: left; margin: 0px 0px 0px 14px; }
#body-right-only .cols-4 .column-3, #body-left-only .cols-4 .column-3 { width: 152px; float: left; margin: 0px 0px 0px 14px; }
#body-right-only .cols-4 .column-4, #body-left-only .cols-4 .column-4 { width: 152px; float: right; }
#body-right-only .cols-3 .column-1, #body-left-only .cols-3 .column-1 { width: 206px; float: left; }
#body-right-only .cols-3 .column-2, #body-left-only .cols-3 .column-2 { width: 206px; float: left; margin: 0px 0px 0px 16px; }
#body-right-only .cols-3 .column-3, #body-left-only .cols-3 .column-3 { width: 206px; float: right; }
#body-right-only .cols-2 .column-1, #body-left-only .cols-2 .column-1 { width: 317px; float: left; }
#body-right-only .cols-2 .column-2, #body-left-only .cols-2 .column-2 { width: 317px; float: right; }
#body-right-only .cols-1 .column-1, #body-left-only .cols-1 .column-1 { width: 650px; float: left; }
#body-left-right .cols-3 .column-1 { width: 166px; float: left; }
#body-left-right .cols-3 .column-2 { width: 166px; float: left; margin: 0px 0px 0px 16px; }
#body-left-right .cols-3 .column-3 { width: 166px; float: right; }
#body-left-right .cols-2 .column-1 { width: 257px; float: left; }
#body-left-right .cols-2 .column-2 { width: 257px; float: right; }
#body-left-right .cols-1 .column-1 { width: 530px; float: left; }
#body-wide .cols-5 .column-1 { width: 182px; float: left; }
#body-wide .cols-5 .column-2 { width: 182px; float: left; margin: 0px 0px 0px 15px; }
#body-wide .cols-5 .column-3 { width: 182px; float: left; margin: 0px 0px 0px 15px; }
#body-wide .cols-5 .column-4 { width: 182px; float: left; margin: 0px 0px 0px 15px; }
#body-wide .cols-5 .column-5 { width: 182px; float: right; }
#body-wide .cols-4 .column-1 { width: 232px; float: left; }
#body-wide .cols-4 .column-2 { width: 232px; float: left; margin: 0px 0px 0px 14px; }
#body-wide .cols-4 .column-3 { width: 232px; float: left; margin: 0px 0px 0px 14px; }
#body-wide .cols-4 .column-4 { width: 232px; float: right; }
#body-wide .cols-3 .column-1 { width: 314px; float: left; }
#body-wide .cols-3 .column-2 { width: 314px; float: left; margin: 0px 0px 0px 14px; }
#body-wide .cols-3 .column-3 { width: 314px; float: right; }
#body-wide .cols-2 .column-1 { width: 477px; float: left; }
#body-wide .cols-2 .column-2 { width: 477px; float: right; }
#body-wide .cols-1 .column-1 { width: 970px; float: left; }
.items-leading { float: left; width: 100%; }
}
#body-right-only .cols-4 .column-1, #body-left-only .cols-4 .column-1, #body-right-only .cols-4 .column-2, #body-left-only .cols-4 .column-2, #body-right-only .cols-4 .column-3, #body-left-only .cols-4 .column-3, #body-right-only .cols-4 .column-4, #body-left-only .cols-4 .column-4, #body-right-only .cols-3 .column-1, #body-left-only .cols-3 .column-1, #body-right-only .cols-3 .column-2, #body-left-only .cols-3 .column-2, #body-right-only .cols-3 .column-3, #body-left-only .cols-3 .column-3, #body-right-only .cols-2 .column-1, #body-left-only .cols-2 .column-1, #body-right-only .cols-2 .column-2, #body-left-only .cols-2 .column-2, #body-right-only .cols-1 .column-1, #body-left-only .cols-1 .column-1, #body-left-right .cols-3 .column-1, #body-left-right .cols-3 .column-2, #body-left-right .cols-3 .column-3, #body-left-right .cols-2 .column-1, #body-left-right .cols-2 .column-2, #body-left-right .cols-1 .column-1, #body-wide .cols-5 .column-1, #body-wide .cols-5 .column-2, #body-wide .cols-5 .column-3, #body-wide .cols-5 .column-4, #body-wide .cols-5 .column-5, #body-wide .cols-4 .column-1, #body-wide .cols-4 .column-2, #body-wide .cols-4 .column-3, #body-wide .cols-4 .column-4, #body-wide .cols-3 .column-1, #body-wide .cols-3 .column-2, #body-wide .cols-3 .column-3, #body-wide .cols-2 .column-1, #body-wide .cols-2 .column-2, #body-wide .cols-1 .column-1, .items-leading { padding: 0px 0px 15px 0px; }
@media screen and (min-width:1240px){
#body-right-only .cols-4 .column-1, #body-left-only .cols-4 .column-1 { width: 189px; float: left; }
#body-right-only .cols-4 .column-2, #body-left-only .cols-4 .column-2 { width: 189px; float: left; margin: 0px 0px 0px 26px; }
#body-right-only .cols-4 .column-3, #body-left-only .cols-4 .column-3 { width: 189px; float: left; margin: 0px 0px 0px 26px; }
#body-right-only .cols-4 .column-4, #body-left-only .cols-4 .column-4 { width: 189px; float: right; }
#body-right-only .cols-3 .column-1, #body-left-only .cols-3 .column-1 { width: 262px; float: left; }
#body-right-only .cols-3 .column-2, #body-left-only .cols-3 .column-2 { width: 262px; float: left; margin: 0px 0px 0px 24px; }
#body-right-only .cols-3 .column-3, #body-left-only .cols-3 .column-3 { width: 262px; float: right; }
#body-right-only .cols-2 .column-1, #body-left-only .cols-2 .column-1 { width: 405px; float: left; }
#body-right-only .cols-2 .column-2, #body-left-only .cols-2 .column-2 { width: 405px; float: right; }
#body-right-only .cols-1 .column-1, #body-left-only .cols-1 .column-1 { width: 834px; float: left; }
#body-left-right .cols-3 .column-1 { width: 196px; float: left; }
#body-left-right .cols-3 .column-2 { width: 196px; float: left; margin: 0px 0px 0px 26px; }
#body-left-right .cols-3 .column-3 { width: 196px; float: right; }
#body-left-right .cols-2 .column-1 { width: 308px; float: left; }
#body-left-right .cols-2 .column-2 { width: 308px; float: right; }
#body-left-right .cols-1 .column-1 { width: 640px; float: left; }
#body-wide .cols-5 .column-1 { width: 220px; float: left; }
#body-wide .cols-5 .column-2 { width: 220px; float: left; margin: 0px 0px 0px 25px; }
#body-wide .cols-5 .column-3 { width: 220px; float: left; margin: 0px 0px 0px 25px; }
#body-wide .cols-5 .column-4 { width: 220px; float: left; margin: 0px 0px 0px 25px; }
#body-wide .cols-5 .column-5 { width: 220px; float: right; }
#body-wide .cols-4 .column-1 { width: 282px; float: left; }
#body-wide .cols-4 .column-2 { width: 282px; float: left; margin: 0px 0px 0px 24px; }
#body-wide .cols-4 .column-3 { width: 282px; float: left; margin: 0px 0px 0px 24px; }
#body-wide .cols-4 .column-4 { width: 282px; float: right; }
#body-wide .cols-3 .column-1 { width: 384px; float: left; }
#body-wide .cols-3 .column-2 { width: 384px; float: left; margin: 0px 0px 0px 24px; }
#body-wide .cols-3 .column-3 { width: 384px; float: right; }
#body-wide .cols-2 .column-1 { width: 588px; float: left; }
#body-wide .cols-2 .column-2 { width: 588px; float: right; }
#body-wide .cols-1 .column-1 { width: 1200px; float: left; }
#body-right-only .cols-4 .column-1, #body-left-only .cols-4 .column-1, #body-right-only .cols-4 .column-2, #body-left-only .cols-4 .column-2, #body-right-only .cols-4 .column-3, #body-left-only .cols-4 .column-3, #body-right-only .cols-4 .column-4, #body-left-only .cols-4 .column-4, #body-right-only .cols-3 .column-1, #body-left-only .cols-3 .column-1, #body-right-only .cols-3 .column-2, #body-left-only .cols-3 .column-2, #body-right-only .cols-3 .column-3, #body-left-only .cols-3 .column-3, #body-right-only .cols-2 .column-1, #body-left-only .cols-2 .column-1, #body-right-only .cols-2 .column-2, #body-left-only .cols-2 .column-2, #body-right-only .cols-1 .column-1, #body-left-only .cols-1 .column-1, #body-left-right .cols-3 .column-1, #body-left-right .cols-3 .column-2, #body-left-right .cols-3 .column-3, #body-left-right .cols-2 .column-1, #body-left-right .cols-2 .column-2, #body-left-right .cols-1 .column-1, #body-wide .cols-5 .column-1, #body-wide .cols-5 .column-2, #body-wide .cols-5 .column-3, #body-wide .cols-5 .column-4, #body-wide .cols-5 .column-5, #body-wide .cols-4 .column-1, #body-wide .cols-4 .column-2, #body-wide .cols-4 .column-3, #body-wide .cols-4 .column-4, #body-wide .cols-3 .column-1, #body-wide .cols-3 .column-2, #body-wide .cols-3 .column-3, #body-wide .cols-2 .column-1, #body-wide .cols-2 .column-2, #body-wide .cols-1 .column-1, .items-leading { padding: 0px 0px 20px 0px; }
}
/******************************/
/******* Joomla Modules *******/
/******************************/
@media screen and (min-width:768px){
.footer99 .first { width: 970px; float: left; }
.footer49 .first { float: left; width: 477px; }
.footer49 .second { float: right; width: 477px; }
.footer33 .first { float: left; width: 314px; }
.footer33 .second { float: left; width: 314px; margin: 0px 0px 0px 14px; }
.footer33 .third { float: right; width: 314px; }
.footer24 .first { float: left; width: 232px; }
.footer24 .second { float: left; width: 232px; margin: 0px 0px 0px 14px; }
.footer24 .third { float: left; width: 232px; margin-left: 14px; }
.footer24 .forth { float: right; width: 232px; }
.footer19 .first { float: left; width: 182px; }
.footer19 .second { float: left; width: 182px; margin: 0px 0px 0px 15px; }
.footer19 .third { float: left; width: 182px; margin: 0px 0px 0px 15px; }
.footer19 .forth { float: left; width: 182px; margin: 0px 0px 0px 15px; }
.footer19 .fifth { float: right; width: 182px; }
}
@media screen and (min-width:1240px){
.footer99 .first { width: 1200px; float: left; }
.footer49 .first { float: left; width: 588px; }
.footer49 .second { float: right; width: 588px; }
.footer33 .first { float: left; width: 384px; }
.footer33 .second { float: left; width: 384px; margin: 0px 0px 0px 24px; }
.footer33 .third { float: right; width: 384px; }
.footer24 .first { float: left; width: 282px; }
.footer24 .second { float: left; width: 282px; margin: 0px 0px 0px 24px; }
.footer24 .third { float: left; width: 282px; margin: 0px 0px 0px 24px; }
.footer24 .forth { float: right; width: 282px; }
.footer19 .first { float: left; width: 220px; }
.footer19 .second { float: left; width: 220px; margin: 0px 0px 0px 25px; }
.footer19 .third { float: left; width: 220px; margin: 0px 0px 0px 25px; }
.footer19 .forth { float: left; width: 220px; margin: 0px 0px 0px 25px; }
.footer19 .fifth { float: right; width: 220px; }
}
/******************************/
/******* Joomla Modules *******/
/******************************/
@media screen and (min-width:768px){
#user-right-only .user99 .first, #user-left-only .user99 .first { float: left; width: 650px; }
#user-right-only .user49 .first, #user-left-only .user49 .first { float: left; width: 317px; }
#user-right-only .user49 .second, #user-left-only .user49 .second { float: right; width: 317px; }
#user-right-only .user33 .first, #user-left-only .user33 .first { float: left; width: 206px; }
#user-right-only .user33 .second, #user-left-only .user33 .second { float: left; width: 206px; margin: 0px 0px 0px 16px; }
#user-right-only .user33 .third, #user-left-only .user33 .third { float: right; width: 206px; }
#user-left-right .user99 .first { float: left; width: 530px; }
#user-left-right .user49 .first { float: left; width: 257px; }
#user-left-right .user49 .second { float: right; width: 257px; }
#user-left-right .user33 .first { float: left; width: 166px; }
#user-left-right .user33 .second { float: left; width: 166px; margin: 0px 0px 0px 16px; }
#user-left-right .user33 .third { float: right; width: 166px; }
#user-wide .user99 .first { float: left; width: 970px; }
#user-wide .user49 .first { float: left; width: 477px; }
#user-wide .user49 .second { float: right; width: 477px; }
#user-wide .user33 .first { float: left; width: 314px; }
#user-wide .user33 .second { float: left; width: 314px; margin: 0px 0px 0px 14px; }
#user-wide .user33 .third { float: right; width: 314px; }
#user-center-only .user99 .first { float: left; width: 970px; }
#user-center-only .user49 .first { float: left; width: 477px; }
#user-center-only .user49 .second { float: right; width: 477px; }
#user-center-only .user33 .first { float: left; width: 314px; }
#user-center-only .user33 .second { float: left; width: 314px; margin: 0px 0px 0px 14px; }
#user-center-only .user33 .third { float: right; width: 314px; }
}
@media screen and (min-width:1240px){
#user-right-only .user99 .first, #user-left-only .user99 .first { float: left; width: 834px; }
#user-right-only .user49 .first, #user-left-only .user49 .first { float: left; width: 405px; }
#user-right-only .user49 .second, #user-left-only .user49 .second { float: right; width: 405px; }
#user-right-only .user33 .first, #user-left-only .user33 .first { float: left; width: 262px; }
#user-right-only .user33 .second, #user-left-only .user33 .second { float: left; width: 262px; margin: 0px 0px 0px 24px; }
#user-right-only .user33 .third, #user-left-only .user33 .third { float: right; width: 262px; }
#user-left-right .user99 .first { float: left; width: 640px; }
#user-left-right .user49 .first { float: left; width: 308px; }
#user-left-right .user49 .second { float: right; width: 308px; }
#user-left-right .user33 .first { float: left; width: 196px; }
#user-left-right .user33 .second { float: left; width: 196px; margin: 0px 0px 0px 26px; }
#user-left-right .user33 .third { float: right; width: 196px; }
#user-wide .user99 .first { float: left; width: 1200px; }
#user-wide .user49 .first { float: left; width: 588px; }
#user-wide .user49 .second { float: right; width: 588px; }
#user-wide .user33 .first { float: left; width: 384px; }
#user-wide .user33 .second { float: left; width: 384px; margin: 0px 0px 0px 24px; }
#user-wide .user33 .third { float: right; width: 384px; }
#user-center-only .user99 .first { float: left; width: 1200px; }
#user-center-only .user49 .first { float: left; width: 588px; }
#user-center-only .user49 .second { float: right; width: 588px; }
#user-center-only .user33 .first { float: left; width: 384px; }
#user-center-only .user33 .second { float: left; width: 384px; margin: 0px 0px 0px 24px; }
#user-center-only .user33 .third { float: right; width: 384px; }
}
/******************************/
/****** Joomla Bootstrap ******/
/******************************/
.collapse { display: none }
.collapse.in { display: block }
.collapsing { position: relative; height: 0; overflow: hidden; -webkit-transition: height .35s ease; -o-transition: height .35s ease; transition:height .35s ease }
.navbar-toggle { position: relative; float: right; padding: 5px; margin:0px 15px 0px 0px; background-color: transparent; border-radius:4px }
.navbar-toggle:focus { outline: 0; }
.navbar-toggle .icon-bar { display: block; width: 25px; height: 4px; border-radius: 1px; }
.navbar-toggle .icon-bar+.icon-bar { margin-top: 4px; }
.navbar-inverse .navbar-toggle { border: 1px solid #3f3f3f; background: #FFFFFF; }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background: #999999; }
.navbar-inverse .navbar-toggle .icon-bar{ background: #111111; }
@media (min-width:480px){
.navbar-toggle { margin: 33px 15px 0px 0px; }
}
@media (min-width:768px){  
.navbar-collapse.collapse { display: block!important; height: auto!important; padding-bottom: 0; overflow: visible!important; }
.navbar-toggle { display: none; }
}